Pillow>=8.0.0
PyGithub
aiofiles>=0.6.0
appdirs>=1.4.4
spotdl>=0.6.0
aiohttp>=3.7.3
pygments>=2.7.3
aria2p>=0.10.4
async_generator>=1.10
beautifulsoup4>=4.9.3
bs4==0.0.1
bwb==3.0.0
cfscrape>=2.1.1
coffeehouse>=2.2.2
cowpy>=1.1.0
cryptg>=0.2.post2
dnspython>=2.0.0
recursive-compression>=3.4
emoji>=0.6.0
gTTS-token>=1.1.4
gTTS>=2.2.1
gitpython
glitch_this>=1.0.2
google-api-python-client==1.12.8
google-auth-oauthlib==0.4.2
google_images_download>=2.8.0
backTranslation>=0.2.2
Google-Images-Search>=1.3.4
httplib2cacertslocater>=0.1.1
geopy>=2.1.0
gsearch>=1.6.0
hachoir>=3.1.1
heroku3==4.2.3
httplib2>=0.18.1
humanize>=3.2.0
justwatch
lxml>=4.6.2
oauth2client>=4.1.3
patool>=1.12
psycopg2>=2.8.6
psycopg2-binary>=2.8.6
pylyric>=0.0.2
pySmartDL>=1.3.4
pybase64>=1.1.1
pyfiglet>=0.8.post1
pylast>=4.1.0
pymongo>=3.11.2
python-barcode
python-dotenv
python-magic
pytube>=9.5.1
pytz
qrcode
regex
requests>=2.18.4
search-engine-parser>=0.4.2
selenium
speedtest-cli>=2.0.2
spotify_token
sqlalchemy>=1.2
telegraph
urbandict>=0.5
validators
wikipedia>=1.4.0
wget
youtube-dl
youtube-search-python>=1.3.5
covid19sweden>=0.2.2
tswift>=0.7.0
opencv-python-headless>=4.5.1.48
fonttools>=4.18.2
numpy>=1.19.5
